body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.navbar {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border: lightgray 1px solid;
  background-color: white;
}
